button {
    border-radius: 10px;
}
.kosong{

    width: 180px;
    height:300PX;
}

.out-box {
    width: 230px;
    height:310px;
    background-image:url('../img/p1.png');
    background-size:cover;
    border-radius: 10px;
    text-align: center;

}

.box {
    text-align: center;
    margin-left:20%;
    margin-top:13%;
    width: 60%;
    height: 200PX;
    border-radius: 10px;
    display:block;
    position: relative;

}
.out-box :hover .info{
    display:block;
}

.body{
    display:grid;
    grid-template-columns:auto auto auto auto;
    overflow:auto;
}
b{
    margin-top:-15%;
    display:none;
}
.out-box ~ .box :hover{

    display:none;
}